<h2>Department of Electronics Communication Engineering</h2>
<div class="menu">
    <div class="menu-item " onclick="window.location.href='/EC/about'">About Electronics Communication Engineering</div>
    <div class="menu-item " onclick="window.location.href='/EC/HOD-desk'">HoD Desk</div>
    <div class="menu-item" onclick="window.location.href='/EC/programmes'">Programmes Offered</div>
    <div class="menu-item" onclick="window.location.href='/EC/faculty'">Faculty Profiles</div>
    <div class="menu-item" onclick="window.location.href='/EC/laboratories'">Laboratories</div>
    <div class="menu-item" onclick="window.location.href='/EC/supporting-staff'">Supporting Staff</div>
    <div class="menu-item" onclick="window.location.href='/EC/schemes'">Schemes/Syllabus</div>
    <div class="menu-item" onclick="window.location.href='/EC/timetable'">Time Table</div>
    <div class="menu-item" onclick="window.location.href='/EC/course-coordinators'">Course Coordinators</div>
    <div class="menu-item" onclick="window.location.href='/EC/teaching-mehodologies'">Teaching Methodologies</div>
    <div class="menu-item" onclick="window.location.href='/EC/advisorycommittee'">Advisory Committee</div>
    <div class="menu-item" onclick="window.location.href='/EC/projects'">Project /Consultation/Patents</div>
    <div class="menu-item" style="background-color:red;" onclick="window.location.href='/EC/placement'">Placement</div>
    <div class="menu-item" onclick="window.location.href='/EC/newsletter'">Newsletter /Award /Honor</div>
    <div class="menu-item" onclick="window.location.href='/EC/workshop'">Workshop / Conferences</div>
    <div class="menu-item" onclick="window.location.href='/EC/FDP'">FDP/STTP</div>
    <div class="menu-item" onclick="window.location.href='/EC/industrial-visit'">Industrial Visit</div>
    <div class="menu-item" onclick="window.location.href='/EC/lab-manual'">Lab Manuals</div>
    <div class="menu-item" onclick="window.location.href='/EC/outcome-based-education'">Outcome Based Education</div>
</div>