<h2>Department of Information Technology</h2>
            <div class="menu">
                <div class="menu-item " onclick="window.location.href='/IT/about'">About Information Technology</div>
                <div class="menu-item " onclick="window.location.href='/IT/HOD-desk'">HoD Desk</div>
                <div class="menu-item" onclick="window.location.href='/IT/programmes'">Programmes Offered</div>
                <div class="menu-item" onclick="window.location.href='/IT/faculty'">Faculty Profiles</div>
                <div class="menu-item" onclick="window.location.href='/IT/laboratories'">Laboratories</div>
                <div class="menu-item" onclick="window.location.href='/IT/supporting-staff'">Supporting Staff</div>
                <div class="menu-item" onclick="window.location.href='/IT/schemes'">Schemes/Syllabus</div>
                <div class="menu-item" onclick="window.location.href='/IT/timetable'">Time Table</div>
                <div class="menu-item" onclick="window.location.href='/IT/course-coordinators'">Course Coordinators</div>
                <div class="menu-item" onclick="window.location.href='/IT/teaching-mehodologies'">Teaching Methodologies</div>
                <div class="menu-item" onclick="window.location.href='/IT/advisorycommittee'">Advisory Committee</div>
                <div class="menu-item" onclick="window.location.href='/IT/projects'">Project /Consultation/Patents</div>
                <div class="menu-item" style="background-color:red;" onclick="window.location.href='/IT/placement'">Placement</div>
                <div class="menu-item" onclick="window.location.href='/IT/newsletter'">Newsletter /Award /Honor</div>
                <div class="menu-item" onclick="window.location.href='/IT/workshop'">Workshop / Conferences</div>
                <div class="menu-item" onclick="window.location.href='/IT/FDP'">FDP/STTP</div>
                <div class="menu-item" onclick="window.location.href='/IT/industrial-visit'">Industrial Visit</div>
                <div class="menu-item" onclick="window.location.href='/IT/lab-manual'">Lab Manuals</div>
                <div class="menu-item" onclick="window.location.href='/IT/outcome-based-education'">Outcome Based Education</div>
     </div>