<h2>Department Of Computer Science and Engineering</h2>
            <div class="menu">
                <div class="menu-item " onclick="window.location.href='/CSE/about'">About Computer Science and Engineering</div>
                <div class="menu-item " onclick="window.location.href='/CSE/hod-desk'">HOD Desk</div>
                <div class="menu-item" onclick="window.location.href='/CSE/programmes'">Programmes Offered</div>
                <div class="menu-item" onclick="window.location.href='/CSE/faculty'">Faculty Profiles</div>
                <div class="menu-item" onclick="window.location.href='/CSE/laboratories'">Laboratories</div>
                <div class="menu-item" onclick="window.location.href='/CSE/supporting-staff'">Supporting Staff</div>
                <div class="menu-item" onclick="window.location.href='/CSE/schemes'">Schemes/Syllabus</div>
                <div class="menu-item" onclick="window.location.href='/CSE/timetable'">Time Table</div>
                <div class="menu-item" onclick="window.location.href='/CSE/course-coordinators'">Course Coordinators</div>
                <div class="menu-item" onclick="window.location.href='/CSE/teaching-mehodologies'">Teaching Methodologies</div>
                <div class="menu-item" onclick="window.location.href='/CSE/advisorycommittee'">Advisory Committee</div>
                <div class="menu-item" onclick="window.location.href='/CSE/projects'">Project /Consultation/Patents</div>
                <div class="menu-item" style="background-color:red;" onclick="window.location.href='/CSE/placement'">Placement</div>
                <div class="menu-item" onclick="window.location.href='/CSE/newsletter'">Newsletter /Award /Honor</div>
                <div class="menu-item" onclick="window.location.href='/CSE/workshop'">Workshop / Conferences</div>
                <div class="menu-item" onclick="window.location.href='/CSE/FDP'">FDP/STTP</div>
                <div class="menu-item" onclick="window.location.href='/CSE/industrial-visit'">Industrial Visit</div>
                <div class="menu-item" onclick="window.location.href='/CSE/lab-manual'">Lab Manuals</div>
                <div class="menu-item" onclick="window.location.href='/CSE/outcome-based-education'">Outcome Based Education</div>
     </div>