<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../stylesheets/nav.css">
<nav>
    <div id="nav1">
      <div class="nav1-part1">
        <div class="number"><p>+91 7047917816</p></div>
        <div class="line"></div>
        <div class="mail"><a href="#">saurabh109@gmail.com</a></div>
      </div>
      <div class="nav1-part2">
        <!-- <div id="social"> -->
        <p><i class="ri-youtube-line"></i>Youtube</p>
        <p><i class="ri-facebook-fill"></i>Facebook</p>
        <p>LinkdIn</p>
        <a href="https://lms.itmgoi.in/" target="_blank"> <button>LMS</button></a>
        <a href="http://mis.itmgoi.in/" target="_blank"><button>MIS</button></a>
       
        <!-- </div> -->
      </div>
    </div>
    <div id="nav2">
      <div id="navSec">
        <ul id="outer-ul">
          <!-- <li> -->
            <a id="home" style="color: #503091" href="/"
              ><i class="fa-solid fa-house"></i
            ></a>
          <!-- </li> -->
          <li>
            <a id="list" href="/About-Institute/About">About Institute</a>
            <ul class="submenu submenu1">
              <li><a href="/About-Institute/About">About ITM</a></li>
              <li><a href="/About-Institute/visionAndMission">Vision, Mission & Values</a></li>
              <li><a href="/About-Institute/MessageBoard">Message Board</a></li>
              <li><a href="/About-Institute/BOGs">Board of Governors</a></li>
              <li><a href="/About-Institute/ProgramOffered">Program Offered</a></li>
              <li><a href="/About-Institute/accredation">Accreditation</a></li>
              <li>
                <a href="/About-Institute/approval"
                  >AICTE approvals & <br />
                  Mandatory Disclosure</a
                >
              </li>
              <li><a href="/About-Institute/infrastructure">Infrastructure</a></li>
              <!-- <li><a href="About-Institute/Duties_And_Responsibilities">Duties & Responsibility</a></li> -->
              <li><a href="/About-Institute/ServiceRule">Service Rule</a></li>
              <li><a href="/About-Institute/faculty">Faculty</a></li>
              <li><a href="/About-Institute/Staff">Staff</a></li>
              <li><a href="/About-Institute/CodeOfConduct">Code of Conduct <br />for Stackholder</a></li>
              <li><a href="/About-Institute/audit">Audit Reports</a></li>
              <li><a href="/About-Institute/policies">Policy</a></li>
              <li><a href="/About-Institute/Sop">Standards Operating Procedure</a></li>
              <li><a href="/About-Institute/What-Gwalior-Offers">What Gwalior Offers</a></li>
              <li><a href="/About-Institute/contactUs">Contact Us</a></li>
            </ul>
          </li>
          <li>
            <a id="list" href="#">Administration</a>
            <ul class="submenu">
              <li><a href="Administration/Administrators">Administrators</a></li>
              <li><a href="Administration/IQAC/about">IQAC Internal Quality Assurance Cell</a></li>
              <li><a href="Administration/antiRaging">Anti Ragging Committee</a></li>
              <li><a href="Administration/Administrative">Administrative Responsibilites</a></li>
              <!-- <li><a href="/Administration/committees" style="background-color:yellowgreen">Committees</a></li> -->
            </ul>
          </li>
          <li>
            <a id="list" href="#">Acadamic</a>
            <ul class="submenu">
              <li><a href="#">Departments</a>
                <ul class="submenu2">
                  <li><a href="Academics/EngineeringScienceandHumanities/about">Engineering Science and Humanities</a></li>                    
                  <li><a href="Academics/CSE/about">Computer Science and Engineering</a></li>
                  <li><a href="Academics/IT/about">Information Technology</a></li>
                  <li><a href="Academics/EC/about">Electronics and Communication</a></li>
                  <li><a href="Academics/CE/about">Civil Engineering</a></li>
                  <li><a href="Academics/ME/about">Mechanical Engineering</a></li>
                  <li><a href="Academics/MBA/about">MBA</a></li>
                  <li><a href="Academics/MCA/about">MCA</a></li>
                </ul>
              </li>
              <li><a href="">Courses</a>
                <ul class="submenu2">
                  <li><a href=Admission_folder/UG">Under Graduate</a></li>
                  <li><a href=Admission_folder/PG">Post Graduate</a></li>
                </ul>
              </li>
              <li><a href="Academics/AcademicCalender/AcademicCal">Acadamic Calender</a></li>
              <li><a href="Academics/QualityInitiative">Quality Initiatives</a></li>
              <li><a href="Academics/curriculum">Curriculum Feedback</a></li>
              <!-- <li><a href="" style="background-color: greenyellow;">LMS</a> -->
                <ul class="submenu2">
                  <a href="Academics/LMS/mentorMenteeScheme">Mentor Mentee Scheme</a>
                  <a href="https://lms.itmgoi.in/" target="_blank">LMS(Tattva)</a>
                  <a href="http://mis.itmgoi.in/" target="_blank">MIS(Prabandh)</a>

                </ul>
              </li>
              <!-- <li><a href="https://web.mitsgwalior.in/images/mainmenu/OBE%20Manual.pdf" style="background-color: greenyellow;">Outcome Based Mannual</a></li> -->
            </ul>
          </li>
          <li>
            <a id="list" href="Life@ITM/skill-enhancement-activities">Life @ITM</a>
            <ul class="submenu">
              <li><a href="Life@ITM/skill-enhancement-activities">Facilities</a>
                
                <ul class="submenu2">
                  <li><a href="Life@ITM/skill-enhancement-activities">Skill Enhancement Activies</a></li>
                  <li><a href="Life@ITM/learning">Learning Resource Centre</a></li>
                  <li><a href="Life@ITM/sportscell">Sport Cell</a></li>
                  <li><a href="Life@ITM/medical">Medical & Dispensary</a></li>
                  <li><a href="Life@ITM/workshop">Workshop</a></li>
                  <li><a href="Life@ITM/Gymnesium">Gymnesium</a></li>
                  <!-- <li><a href="Life@ITM/guesthouse" style="background-color: greenyellow;">Guest House</a></li> -->
                  <!-- <li><a href="Life@ITM/" style="background-color: greenyellow;">Canteen</a></li> -->
                </ul>

              </li>
              <li><a href="/About-Institute/magazine">Student Magazine</a></li>
              <li><a href="">Campus Life</a>
                <ul class="submenu2">
                  <li><a href="Life@ITM/hostel">Hostel Details</a></li>
                   <li><a href="/">Code of Conduct for Students</a></li>
                   <li><a href="/">Hostel Timing</a></li>
                   <li><a href="/">Hostel and Mess Fee</a></li>
                   <li><a href="/">Hostel Registration, etc</a></li>
                </ul>
              </li>
              <li><a href="Life@ITM/club">Student Activities</a>
                <ul class="submenu2">
                 <li> <a href="Life@ITM/club">Societies & Clubs</a></li>
                  <!-- <li><a href="Life@ITM/ncc">NCC</a></li> -->
                  <li><a href="Life@ITM/nss">NSS</a></li>
                  <li><a href="">Commemorative Days</a></li>
                  <li><a href="Life@ITM/sports">Sports and Cultural Events</a></li>
                  <!-- <li><a href="Life@ITM/Commemorative" style="background-color: greenyellow;">National/International Commemorative days/ events</a></li> -->

                </ul></li>
              <li>
                <a href="Life@ITM/grievance/ragging"
                  >Student Grievance & <br>
                  Counselling</a
                >

              </li>
                <li><a href="Life@ITM/EnvironmentalInitiatives">Environmental Initiatives</a></li>
                <li><a href="">Cultural Exchange Programs</a></li>
                <li><a href="Life@ITM/studentAchievements">Student Achievements</a></li>
                <li><a href="">Community Engagement</a></li>
              
            </ul>
          </li>
         
          <li>
            <a id="list" href="R&D/startup">R&D</a>
            <ul class="submenu">
              <li><a href="R&D/startup">Startup / Innovation / Incubation cell</a></li>
              <li><a href="R&D/Mou">MoUs & Collaborations</a></li>
              <li><a href="R&D/patents">Patents</a></li>
              <li><a href="R&D/R&Dactivities">R & D Activities</a></li>
              <li><a href="R&D/publication">Publications</a></li>
              <li><a href="R&D/industry">Industrial Visits</a></li>
              <li><a href="R&D/projectByStudents">Projects By Students</a></li>
              <li><a href="">Ideapad</a></li>

            </ul>
          </li>
          <li>
            <a id="list" href="Tap&Placement/T&pCell">TAP</a>
           
          <li>
            <a href="Alumni/menualumni">Alumni</a>
          </li>
          <li>
            <a id="list" href="#">Admission</a>
            <ul class="submenu">
              <li><a href="Admission_folder/prosp">Prospectus</a></li>
              <li><a href="Admission_folder/UG">Under Graduate Admission</a></li>
              <li><a href="Admission_folder/PG">Post Graduate Admission</a></li>
              <li><a href="">Fee Structure</a></li>
              <li><a href="http://itmgoi.in/OnlineApply_ITMGOI/">Enquiry Form</a></li>
              <li><a href="https://onlineapply.itmgoi.in/form_hdfc.php?ok=Apply+Now">Registration Form</a></li>
              <li><a href="Admission_folder/seek_admission">How to Seek Admission</a></li>
              <li><a href="Admission_folder/FAQ">FAQs</a></li>
              <li><a href="Admission_folder/contact">Contact (Admission)</a></li>
            </ul>
          </li>
          <li>
            <a id="list" href="#">Gallery</a>
            <ul class="submenu">
              <li>
                <a href="Gallery_folder/photoGallery1"
                  >Photo Gallery</a
                >
              </li>
              <li><a href="#">Video Gallery</a></li>
            </ul>
          </li>
          <li>
            <a  id="list"href="#">NAAC</a>
            <ul class="submenu">
              <li><a href="#">Item1</a></li>
              <li><a href="#">Item2</a></li>
              <li><a href="#">Item3</a></li>
              <li><a href="#">Item4</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="logo">
      <img src="../images/Navbar & Footer/itm logo.png" alt="" />
    </div>

    <script>
      var list = document.querySelectorAll("#list");
      var submenu1 = document.querySelectorAll(".submenu1");

      list.forEach((e) => {
        e.addEventListener("mouseenter", () => {
          submenu1.forEach((submenu) => {
            submenu.style.gridTemplateColumns = "auto auto";
            submenu.style.width = "330px"
          });
        });
      });

    </script>
  </nav>