<h2>Department Of Civil Engineering</h2>
<div class="menu">
    <div class="menu-item " onclick="window.location.href='/CE/about'">About Civil Engineering</div>
    <div class="menu-item " onclick="window.location.href='/CE/HOD-desk'">HoD Desk</div>
    <div class="menu-item" onclick="window.location.href='/CE/programmes'">Programmes Offered</div>
    <div class="menu-item" onclick="window.location.href='/CE/faculty'">Faculty Profiles</div>
    <div class="menu-item" onclick="window.location.href='/CE/laboratories'">Laboratories</div>
    <div class="menu-item" onclick="window.location.href='/CE/supporting-staff'">Supporting Staff</div>
    <div class="menu-item" onclick="window.location.href='/CE/schemes'">Schemes/Syllabus</div>
    <div class="menu-item" onclick="window.location.href='/CE/timetable'">Time Table</div>
    <div class="menu-item" onclick="window.location.href='/CE/course-coordinators'">Course Coordinators</div>
    <div class="menu-item" onclick="window.location.href='/CE/teaching-mehodologies'">Teaching Methodologies</div>
    <div class="menu-item" onclick="window.location.href='/CE/advisorycommittee'">Advisory Committee</div>
    <div class="menu-item" onclick="window.location.href='/CE/projects'">Project /Consultation/Patents</div>
    <div class="menu-item" style="background-color:red;" onclick="window.location.href='/CE/placement'">Placement</div>
    <div class="menu-item" onclick="window.location.href='/CE/newsletter'">Newsletter /Award /Honor</div>
    <div class="menu-item" onclick="window.location.href='/CE/workshop'">Workshop / Conferences</div>
    <div class="menu-item" onclick="window.location.href='/CE/FDP'">FDP/STTP</div>
    <div class="menu-item" onclick="window.location.href='/CE/industrial-visit'">Industrial Visit</div>
    <div class="menu-item" onclick="window.location.href='/CE/lab-manual'">Lab Manuals</div>
    <div class="menu-item" onclick="window.location.href='/CE/outcome-based-education'">Outcome Based Education</div>
</div>