<h2>Tap & Placement Cell</h2>
            <div class="menu">
                <div class="menu-item " onclick="loadPage('T&pCell.ejs')">About T&P</div>
                <div class="menu-item " onclick="loadPage('event.ejs')">Skill Development Activies & Events</div>
                <div class="menu-item" onclick="loadPage('guidline.ejs')">Internship  and placement Guidelines-policies</div>
                <div class="menu-item" onclick="loadPage('faculty.ejs')">Carrer Counselling Services</div>
                <div class="menu-item" onclick="loadPage('laboratories.ejs')">Workshop & Seminars</div>
                <div class="menu-item" onclick="loadPage('resource.ejs')">Placement Preparation Resources</div>
                <div class="menu-item" onclick="loadPage('collabration.ejs')">Industry Collabration</div>
                <div class="menu-item" onclick="loadPage('recruiters.ejs')">Top Recruiters</div>
                <div class="menu-item" onclick="loadPage('statics.ejs')">Internship & PLacement Statistics</div>
                <div class="menu-item" onclick="loadPage('teaching-mehodologies.ejs')">Student Success Storys</div>
                <div class="menu-item" onclick="loadPage('policy.ejs')">Internship & PLacement Policy</div>
                <div class="menu-item" onclick="loadPage('notable.ejs')">Notable Alumni</div>
                <div class="menu-item" onclick="loadPage('faqs.ejs')">FAQs</div>
                <div class="menu-item" onclick="loadPage('contact.ejs')">Contact(Tap)</div>
     </div>