<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training & Placement Cell</title>
    <link rel="stylesheet" href="../stylesheets/font.css">
    <link rel="stylesheet" href="../stylesheets/Tap/t&pCell.css">
    
    
    
    <script src="../javascripts/script.js"></script>
</head>
<body>
     <script src="../javascripts/addSidebar.js"></script>
    <%include ../Header/nav.html%>
    <div id="img">
        <img src="../images/Tap/dunedin-university-of.jpg" alt="">
        <div id="nameDiv">
            <h2>TAP Cell</h2>
            <div id="line"></div>

        </div>
    </div>
    <div class="container">
      <aside class="sidebar">
      
      </aside>
      <main class="content" style="padding-top: 4%;">
       
          <div class="content-text" id="content-area">
           
            <!-- Content will be loaded here -->
            <p>
            ITM Gwalior has always given training, augmentation and placements an utmost priority and to implement it into action an exclusive training, augmentation and placement assistance cell (TAP) has been established with state–of-art facilities. The cell is headed by experienced professionals from Industry
            </p>
            <p>
              TAP Cell is responsible for conducting following activities in time bound schedules without violating the time table of university curriculum.
            </p>
            <h2>
              <strong
                >➤ Vision of the Department</strong
              >
            </h2>
            <p>
             To Bridge the gap between Students’ skill, knowledge and the industry's Requirement and expectation by Building employability through various workshops, seminars and campus recruitment training so that the student can grab the best opportunities and will grow vigorously in their career
            </p>
            
           
            <h2>➤ Mission of the Department</h2>
           <p>The Training Augmentation and Placement team Team of ITM Gwalior is dedicated towards achieving 100% placements by collaborating with HR Teams of different corporate to ensure the smooth functioning of the Campus-Recruitment process. Meanwhile assisting students through regular one-on-one counseling for betterment of the students facing difficulties in interviews.</p>
            
        
        </div>
      </main>
    </div>

    <%include ../Footer/footer.html%>

        <script src="../javascripts/Tap&Placement/t&pCell.js"></script>

   
  </body>
</html>
