<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grievance & Ragging</title>

    <link rel="stylesheet" href="../stylesheets/Life@ITM/ragging.css">
    <link rel="stylesheet" href="../stylesheets/Life@ITM/lifeITM.css">


</head>
<body>

    <%include ../Header/nav.html%>

  
    <div id="img" >
        <img src="../images/Life@ITM/Grievance.jpg" alt="">
        <div id="nameDiv">
            <h2>Student Grievance & Counselling </h2>
            <div id="line"></div>

        </div>
    </div>
    <div class="container">
        <div class="card" onclick="location.href='/Life@ITM/Grievance'">
            <img src="../images/Grievance Logos/pen.png" alt="Grievance & Ragging">
            <p>Grievance & Ragging</p>
        </div>
        <div class="card" onclick="location.href='/Life@ITM/committeeStructure'">
            <img src="../images/Grievance Logos/commitee.png" alt="Committee Structure">
            
            <p>COMMITEE STRUCTURE</p>
        </div>
        <div class="card" onclick="location.href='../docs/Grievance/Internal Complaint Committee.pdf'">
            <img src="../images/Grievance Logos/code-of-conduct.png" alt="Institutional Code of Conduct">

            <p> INTERNAL COMPLAINT COMMITTEE</p>

            
        </div>
        <!-- <div class="card" onclick="location.href=''">
            <img src="Grievance Logos/complaint.png" alt="Redressal Mechanism - Ragging">
            <p>REDRESSAL MECHANISM</p>
        </div> -->
        
        <div class="card" onclick="location.href='../docs/Grievance/Complaints_Using_MIS.pdf'">
            <img src="../images/Grievance Logos/report.png" alt="Committee Structure">

            <p> COMPLAINT ON MIS</p>

            

        </div>
        <div class="card" onclick="location.href='../docs/Grievance/Awareness-Anti-ragging.docx.pdf'">
            <img src="../images/Grievance Logos/advertising.png" alt="Institutional Code of Conduct">
            
            <p> <a> AWARENESS</a></p>
        </div>
        <div class="card" onclick="location.href='../docs/Grievance/affidavit of aicte regarding anti ragging.pdf'">
            <img src="../images/Grievance Logos/exam.png" alt="Redressal Mechanism - Ragging">
            
            <p> <a> ANTI-RAGGING UNDERTAKING</a></p>
        </div>
        <div class="card" onclick="location.href=''">
            <img src="../images/Grievance Logos/emergency-call.png" alt="Redressal Mechanism - Sexual Offences">
            
            <p> <a href="../docs/Grievance/Emergency Helpline Numbers.pdf">EMERGENCY HELPLINE NUMBERS</a> </p>
        </div>
        <div class="card" onclick="location.href=''">
            <img src="../images/Grievance Logos/communication.png" alt="Redressal Mechanism - Sexual Offences">
            
            <p>COUNSELLING CELL</p>
        </div>
        <div class="card" onclick="location.href='../docs/Grievance/Grievance Redressal Cell.docx.pdf'">
            <img src="../images/Grievance Logos/complain.png" alt="Redressal Mechanism - Sexual Offences">

            <p> <a>GRIEVANCE REDRESSAL CELL</a> </p>
           
        </div>
        <!-- <div class="card" onclick="location.href=''">
            <img src="Grievance Logos/complain.png" alt="Redressal Mechanism - Sexual Offences">
            <p>Women Empowerment CELL</p>

        </div> -->
        <div class="card" onclick="location.href='../docs/Grievance/Updated_SPOC_Contact_Details.pdf'">
            <img src="../images/Grievance Logos/customer.png" alt="Redressal Mechanism - Sexual Offences">
            
            <p><a>SPOC LIST</a></p>
        </div>
        <div class="card" onclick="location.href='../docs/Grievance/Women Empowerment Cell.docx.pdf'">
            <img src="../images/Grievance Logos/customer.png" alt="Redressal Mechanism - Sexual Offences">
            
            <p><a
                >WOMEN EMPOWERMENT CELL</a></p>
        
            </div>
        
    </div>

    <%include ../Footer/footer.html%>

</body>
</html>
